/Command.class
/Get.class
/Head.class
/Post.class
/Put.class
/RetrieveDataCommand.class
/TCPClient.class
/TCPServer.class
/SendDataCommand.class
/Respond.class
/SendDataRespond.class
/GetRespond.class
/HeadRespond.class
/PostRespond.class
/PutRespond.class
/ReceiveDataRespond.class
